/* 
* {
    box-sizing: border-box;
} */

body {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.board-container {
    margin: auto;
    position: relative;
}

table {
    border-spacing: 0;
}

.custom {
    background-color: rgb(70, 29, 6);
    border: 1px whitesmoke solid;
    border-radius: 60px;
    top: 50%;
    transform: translate(0, -25%);
    height: 40px;
    width: 80px;
    color:white ;
    cursor: pointer;
}

.row1 {
    display: inline-block;
}

.lives {
    display: inline-block;
}

.timer {
    display: inline-block;
}

.cell {
    padding: 0;
    background-color: aqua;
    border: 1px black solid;
    border-collapse: collapse;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}

.cell:not(.shown):hover {
    background-color: aquamarine;
    cursor: pointer;
}

.tempmine {
    background-color: orange;
}

.marked {
    background-image: url('../marked.png');
}

.btn {
    padding: 0;
    margin: 5px;
    background-color: transparent;
    border: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.safe {
    background-color: blue;
    border: 1px whitesmoke solid;
    border-radius: 60px;
    background-position: center;
    top: 50%;
    transform: translate(0, -25%);
    height: 40px;
    width: 60px;
    color:white ;
    text-shadow: 3px 0px 8px lightgreen, 0px 3px 8px #11b9ec;
}

.undo {
    background-color: red;
    border: 1px whitesmoke solid;
    border-radius: 60px;
    background-position: center;
    transform: translate(0, -5%);
    height: 40px;
    width: 60px;
    color:white ;
    text-shadow: 3px 0px 8px lightgreen, 0px 3px 8px #11b9ec;
}

.safecell {
    background-color: rgb(31, 214, 31);
}

.shown {
    background-color: grey;
}

.mine {
    background-color: red;
}

.hint {
    background-image: url('../hint.png');
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translate(0, 25%);
}

.hintcell {
    background-color: yellow;
}

.mhint {
    background-color: rgb(255, 0, 179);
    border: 1px whitesmoke solid;
    border-radius: 60px;
    top: 50%;
    transform: translate(0, -25%);
    height: 40px;
    width: 60px;
    color:white ;
    text-shadow: 3px 0px 8px lightgreen, 0px 3px 8px #11b9ec;
}

.onhint {
    background-color: yellow;
}

.disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.myname {
    margin-top: 10px;
    background-color: cadetblue;
    color:black ;
    text-shadow: 3px 0px 8px #ff0000, -1px 3px 8px #EC11E4;
}