/* 
* {
    box-sizing: border-box;
} */

body {
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.board-container {
    margin: auto;
    position: relative;
}

table {
    border-spacing: 0;
}

.cell {
    padding: 0;
    background-color: aqua;
    border: 1px black solid;
    border-collapse: collapse;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}

.cell:not(.shown):hover {
    background-color: aquamarine;
    cursor: pointer;
}

.shown {
    background-color: grey;
}

.mine {
    background-color: red;
}

.marked {
    background-image: url('../images/marked.png');
}

.smiley {
    padding: 0;
    margin: 5px;
    background-color: transparent;
    /* background-image: url('../images/smiley3.png'); */
    border: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.myname {
    margin-top: 10px;
    background-color: cadetblue;
    color:black ;
    text-shadow: 3px 0px 8px #ff0000, -1px 3px 8px #EC11E4;
}