/* 
* {
    box-sizing: border-box;
} */

body {
    color: bisque;
    background-color: rgb(195, 228, 228);
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 3px 0px 2px rgb(8, 53, 8), 2px 0px 2px #073a49;
    position: relative;
}

table {
    border-spacing: 0;
}

.board-container {
    color: black;
    display: inline-table;
    position: relative;
    width: 500px;
    height: 500px;
    table-layout: fixed;
}

td {
    width: 30px;
    height: 30px;
}

.darkmode {
    color: rgb(204, 179, 152);
    text-shadow: 3px 0px 4px lightgreen, 0px 3px 4px #11b9ec;
    background: black;
}

.mode {
    display: inline-block;
    padding: 5px;
    position: fixed;
    text-align: left;
    cursor: pointer;
    left: 10px;
    top: 10px;
    border: 1px grey solid;
    background-color: rgb(124, 70, 3);
}

.custom {
    display: inline-block;
    background-color: rgb(70, 29, 6);
    border: 1px whitesmoke solid;
    border-radius: 60px;
    vertical-align: middle;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

.cell {
    background-color: rgb(23, 117, 117);
    border: 1px black solid;
    border-collapse: collapse;
    cursor: pointer;
    transition: 0.3s;
}

/* .small {
    height: 3vw;
    width: 3vw;
}

.medium {
    height: 4vw;
    width: 4vw;
}

.large {
    height: 6vw;
    width: 6vw;
}

.huge {
    height: 12vw;
    width: 12vw;
} */

.cell:not(.shown, .possible, .safecell, .hintcell):hover {
    background-color: rgb(30, 146, 107);
}

.tempmine {
    background-color: orange;
}

.marked {
    background-image: url('../marked.png');
}

.possible {
    background-color: #073a49;
}

.possible:hover {
    background-color: #175568;
}

.btn {
    padding: 0;
    margin: 5px;
    background-color: transparent;
    border: 0px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.boardflex {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smile {
    display: flex;
}

.secret {
    position: absolute;
    background-color: white;
    opacity: 7%;
    right: 5px;
}

.hintcell {
    background-color: yellow;
}

.extras {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.extrastyle {
    display: flex;
    border: 1px whitesmoke solid;
    border-radius: 60px;
    height: 50px;
    width: 45%;
    text-shadow: 3px 0px 8px lightgreen, 0px 3px 8px #11b9ec;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2px;
    cursor: pointer;
}

.lives {
    background-color: rgb(151, 49, 49);
    display: flex;
    border-radius: 10px;
}

.timer {
    background-color: rgb(119, 119, 119);
    display: flex;
    border-radius: 10px;
}

.marks {
    background-color: rgb(41, 115, 177);
    display: flex;
    border-radius: 10px;
}


.hint {
    border: 1px whitesmoke solid;
    background-color:darkslategray;
}

.safe {
    background-color: blue;
}

.undo {
    background-color: red;
}

.mhint {
    background-color: rgb(255, 0, 179);
}

.exter {
    background-color: rgb(22, 21, 22);
    width: 70%;
    margin-top: 50px;
}

.safecell {
    background-color: rgb(31, 214, 31);
}

.shown {
    background-color: grey;
    cursor: default;
}

.mine {
    background-color: red;
}

.onhint {
    background-color: yellow;
}

.disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.myname {
    margin-top: 10px;
    background-color: cadetblue;
    color:black ;
    text-shadow: 3px 0px 8px #ff0000, -1px 3px 8px #EC11E4;
}